#hd .gnb {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 10%;
  position: relative;
}
#hd .gnb::before {
  content: "";
  position: absolute;
  top: 100%;
  height: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  background-color: white;
}
#hd .gnb .d1 {
  list-style: none;
}
#hd .gnb .d1:hover {
  z-index: 1000;
}
#hd .gnb .d1:hover .nav_gnb {
  max-height: 300px;
  border-color: black;
}
#hd .gnb .d1 ul {
  white-space: nowrap;
  font-weight: 400;
  line-height: 2.2;
}
#hd .gnb .d1 li:hover a {
  border-bottom: 1px solid black;
  font-weight: 700;
}
#hd .gnb .d1 .nav_gnb {
  border: transparent 1px solid;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}
#hd .member {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 10%;
}

#mainbanner .mainbannerbox {
  top: 60px;
  width: 1824px;
  height: 300px;
  background-color: #C70125;
  overflow: hidden;
}
#mainbanner .mainbannerbox img {
  padding: 20px;
}
#mainbanner .mainbannerbox span {
  display: block;
  text-align: end;
  padding: 0 20px;
}
#mainbanner .mainbannerbox .maintext1 {
  color: #FFF;
  font-family: "Noto Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -4px;
}
#mainbanner .mainbannerbox .maintext2 {
  color: #FFF;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -2.4px;
}

#new .swiper {
  width: 100%;
  height: 100%;
}
#new .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#new .swiper-slide .proDes {
  text-align: left;
}
#new .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.centerbox {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 180px;
  height: 50px;
  border: solid 1px black;
}

#lookBook .lookBookText {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#lookBook .imgUp {
  transform: translateY(-26.63%);
}

#ranking .swiper {
  width: 100%;
  height: 100%;
}
#ranking .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#ranking .swiper-slide .ranknum {
  width: 30px;
  height: 42px;
  flex-shrink: 0;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  color: #FFF;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#ranking .swiper-slide .proDes {
  text-align: left;
}
#ranking .swiper-slide .proDes .price {
  display: flex;
}
#ranking .swiper-slide .proDes .price .proPrice {
  transform: translateY(-3px);
}
#ranking .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#video .videoImg {
  display: inline-block;
  position: relative;
}
#video .videoImg::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  color: black;
  right: 0px;
  bottom: 0px;
}
#video .videoText {
  background-color: #C70125;
  color: white;
}
#video .videoText .videoText1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.4px;
}
#video .videoText .videoText2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -3px;
}
#video .videoText .videoText3 {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.5px;
}
#video .videoText .videoText4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -2.4px;
  position: relative;
  top: 200px;
}

#project .projuectDes {
  background-color: #C70125;
}
#project .projuectDes .projectText {
  text-align: start;
}
#project .projuectDes .sidebox {
  width: 180px;
  height: 50px;
  border: solid 1px white;
}
#project .projuectDes .sidebox a {
  color: white;
}

#ft .footerMenu li {
  font-size: 15px;
  font-weight: 500;
}
#ft .footerLink li {
  font-size: 15px;
  font-weight: 500;
}
#ft .des {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  display: flex;
}