$mainColor : #C70125;

body{
    font-family: 'Noto Sans KR';

    li a{
        text-decoration: none;
        color: black;
    }
}

#hd{
    .gnb{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 10%;
    }
    .member{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 10%;
    }
}


#ft{ 
    .footerMenu{
        li{
            font-size: 15px;
            font-weight: 500;
        }
    }
    .footerLink{
        li{
            font-size: 15px;
            font-weight: 500;
        }
    }
    .des{
        font-size: 15px;
        font-weight: 300;
        white-space: nowrap;
    }

}
