$mainColor : #C70125;

body{
    font-family: 'Noto Sans KR';

    a{
        text-decoration: none;
        color: black;
    }
}

.container-1400{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.container-1824{
    max-width: 1824px;
    width: 100%;
    margin: 0 auto;
}

#hd{
    .gnb{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 10%;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 100%;
            height: 0;
            left: 0;
            right: 0;
            transition: 0.5s;
            background-color: white;
            
        }

        .d1{//대메뉴
            
            &:hover{
                ul{
                    max-height: 300px;
                }
            }
            ul{
                white-space: nowrap;
                font-weight: 400;
                max-height: 0;
                transition: max-height 0.3s;
                overflow: hidden;
                line-height: 2.2;
                
                
            }
            li:hover{
                a{
                    border-bottom: 1px solid black;
                    font-weight: 700;
                }
            }
        }
    }
    .member{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 10%;
    }
}

#new{
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .newDes{
            text-align: left;
            .newText{
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -1.2px;
            }
            .newName{
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -1.4px;
            }
            .newPrice{
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -1.8px;
            }

        }
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .centerbox{
        position: relative; 
        left: 50%; 
        transform: translate(-50%);
        width: 180px;
        height: 50px;
        border: solid 1px black;
        a{
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -1.6px;
        }
     }
     
}

#video{
    .videoText{
        background-color: $mainColor;
        color: white;
        .videoText1{
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -1.4px;
        }
        .videoText2{
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px; 
            letter-spacing: -3px;
        }
        .videoText3{
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -1.5px;
        }
        .videoText4{
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -2.4px;
        }
    }
    
}

#project{
    .projuectDes{
        background-color: $mainColor;
        .projectText{
            text-align: start;
            .projectText1{
                color: white;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -1.2px;
            }
            .projectText2{
                color: white;
                font-size: 34px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -3.4px;
            }
            .projectText3{
                color: white;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -1.6px;
            }
        }
        .sidebox{
            width: 180px;
            height: 50px;
            border: solid 1px white;
            a{
                color: white;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -1.6px;
            }
        }
    }
}


#ft{ 
    .footerMenu{
        li{
            font-size: 15px;
            font-weight: 500;
        }
    }
    .footerLink{
        li{
            font-size: 15px;
            font-weight: 500;
        }
    }
    .des{
        font-size: 15px;
        font-weight: 300;
        white-space: nowrap;
        display: flex;
    }

}
