$mainColor : #C70125;

#hd{
    .gnb{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 10%;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 100%;
            height: 0;
            left: 0;
            right: 0;
            transition: 0.5s;
            background-color: white;
            
        }

        .d1{
            list-style: none;
            &:hover{
                z-index: 1000;
                .nav_gnb{
                    max-height: 300px;
                    border-color:black;
                }
            }
            ul{
                white-space: nowrap;
                font-weight: 400;
                line-height: 2.2;
            }
            li:hover{
                a{
                    border-bottom: 1px solid black;
                    font-weight: 700;
                }
            }

            .nav_gnb{
                border: transparent 1px solid;
                max-height: 0;
                transition: max-height 0.3s;
                overflow: hidden;
            }
        }
    }
    .member{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 10%;
    }
}
#mainbanner{
    .mainbannerbox{
        top: 60px;
        max-width: 1824px;
        height: 300px;
        background-color: $mainColor;
        overflow: hidden;
        img{
            padding: 20px;
        }
        span{
            display: block;
            text-align: end;
            padding: 0 20px;
        }
        .maintext1{
            color: #FFF;
            font-family: "Noto Sans KR";
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -4px;
        }
        .maintext2{
            color: #FFF;
            font-family: "Noto Sans KR";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -2.4px;
        }
    }
  
}

#new{
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .proDes{
            text-align: left;
        }
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}

.centerbox{
    position: relative; 
    left: 50%; 
    transform: translate(-50%);
    width: 180px;
    height: 50px;
    border: solid 1px black;
 }

#lookBook{
   
    .lookBookText{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .imgUp{
        transform: translateY(-16.3%)
    }
}

#ranking{
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .ranknum{
            width: 30px;
            height: 42px;
            flex-shrink: 0;
            background-color: black;
            color: white;
            top: 0;
            left: 0;
            color: #FFF;
            font-family: Arial;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .proDes{
            text-align: left;
            .price{
                display: flex;
                .proPrice{
                    transform: translateY(-3px);
                }
            }
        }
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}

#video{
    .videoImg{
        display: inline-block;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 80px;
            height: 80px;
            color: black;
            right: 0px;
            bottom: 0px;

        }
    }
    .videoText{
        background-color: $mainColor;
        color: white;
        .videoText1{
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -1.4px;
        }
        .videoText2{
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px; 
            letter-spacing: -3px;
        }
        .videoText3{
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -1.5px;
        }
        .videoText4{
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -2.4px;
            position: relative;
            top: 200px;
        }
    }
    
}

#project{
    .projuectDes{
        background-color: $mainColor;
        .projectText{
            text-align: start;
           
        }
        .sidebox{
            width: 180px;
            height: 50px;
            border: solid 1px white;
            a{
                color: white;
            }
        }
    }
}


#ft{ 
    .footerMenu{
        li{
            font-size: 15px;
            font-weight: 500;
        }
    }
    .footerLink{
        li{
            font-size: 15px;
            font-weight: 500;
        }
    }
    .des{
        font-size: 15px;
        font-weight: 300;
        white-space: nowrap;
        display: flex;
    }

}

@media (max-width:992px){
    #mainbanner{
        .mainbannerbox{
            height: 250px;
        }
        .maintext1{
            font-size: 30px;
        }
        .maintext2{
            font-size: 14px;
        }
    }
}